body {
    background: black;
    font-size: 14px;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: red; */
    margin: 0 auto;
    padding: 0;
    height: 30px;
}

.nav ul{
    margin: 0;
    line-height: 30px;
}

.nav li{
    display: inline-block;
    margin-right: 10px;
}

.nav a{
    color: #c4c5b4;
    text-decoration: none;
}

.nav a:hover{
    color: #970700;
}

.body-container{
    position: relative;
    margin: auto;
    margin-top: 35px;
    /* max-width: 900px; */
}