{layout '../layout.html'}

{block title}{$kinhMach->name} - Cửu Âm Đại Điển{/block}
{block head}
<meta name="description" content="Thông tin kinh mạch {$kinhMach->name} tầng {$detail->level} - Cửu Âm Đại Điển">
<meta content="cửu âm đại điển, cadd, cửu âm chân kinh, cửu âm, cack, nội công, kinh mạch, võ học, {$kinhMach->name}"
    name="keywords">
<meta property="og:title" content="{$kinhMach->name} - Cửu Âm Đại Điển">
<meta property="og:description" content="Thông tin kinh mạch {$kinhMach->name} tầng {$detail->level} - Cửu Âm Đại Điển">
<meta property="og:url" content="https://cuuamdaidien.com/{$kinhMach->slug}/{$detail->level}">
<script defer src="https://unpkg.com/alpinejs@3.4.2/dist/cdn.min.js"></script>
<link rel="stylesheet" href="/static/css/detail.css">
{/block}

{block body-header}
{include '../nav.html'}
{/block}

{block body}
<div id="main-container">
    <div class="tag">
        <div class="tag-element noi-cong" title="Nội Công"><a href="/noi-cong/thien-dinh-cong/1"><div class="noi-cong-btn"></div></a></div>
        <div class="tag-element kinh-mach actived" title="Kinh Mạch"><a href="/kinh-mach/thu-thai-am-phe/1"><div class="kinh-mach-btn"></div></a></div>
    </div>

    <div class="list-frame kinh-mach">
        {foreach $kinhMachList as $km}
            <div class="inner">
                <a id='{$km["id"] == $kinhMach->id ? "current-inner-link"}' n:class='$km["id"] == $kinhMach->id ? "selected" : ""'
                href="/kinh-mach/{$km['slug']}/1#current-inner-link">{$km["name"]}</a>
            </div>
        {/foreach}
    </div>

    <div class="center-frame">
        <h3 class="inner-desc">{$kinhMach->desc}</h3>
    </div>

    <div class="detail-frame" x-data="noiCong" x-init="currentLevel = {$detail->level}; levelUrl='{$levelUrl}'">
        <div class="detail-container">

            <h1>{$kinhMach->name}</h1>

            <div class="inner-header">
                <div class="inner-icon">
                    <img src="{$imageUrl}" title="{$kinhMach->name}" alt="{$kinhMach->name}" />
                </div>
                <div class="level">
                    <div>
                        <form @submit="jump">
                            Chu thiên:<br>
                            <a n:if="strlen($prevLevelUrl) > 0" href="{$prevLevelUrl}#current-link"
                                class="change-level">-</a>
                            <a n:if="strlen($prevLevelUrl) == 0" href="#" class="change-level disabled">-</a>
                            <a n:if="strlen($nextLevelUrl) > 0" href="{$nextLevelUrl}#current-link"
                                class="change-level">+</a>
                            <a n:if="strlen($nextLevelUrl) == 0" href="#" class="change-level disabled">+</a>
                            <input class="level-input" x-model="currentLevel"> <span>/{$kinhMach->maxLevel}</span>
                        </form>
                    </div>
                </div>
                <div class="prop">
                    Chân khí tiến cấp: <span class="tu-vi">{$detail->chanKhiTienCap|number:0,' ', ' '}</span><br>
                    Tổng chân khí: <span class="tu-vi">{$detail->chanKhiTong|number:0,' ', ' '}</span><br>
                    Tiến cử người chơi Nội Công: <span class="tu-vi">{for $i = 0; $i < $kinhMach->chiSoTienCuNoi; $i++}★{/for}</span><br>
                    Tiến cử người chơi Ngoại Công: <span class="tu-vi">{for $i = 0; $i < $kinhMach->chiSoTienCuNgoai; $i++}★{/for}</span><br>
                </div>
                <div class="type">
                    <div>
                      {if $kinhMach->type == '0'}
                      <img src="/static/img/ui/duong.png" title="Dương" alt="Dương" />
                      {elseif $kinhMach->type == '1'}
                      <img src="/static/img/ui/cuong.png" title="Cương" alt="Cương" />
                      {elseif $kinhMach->type == '2'}
                      <img src="/static/img/ui/am.png" title="Âm" alt="Âm" />
                      {elseif $kinhMach->type == '3'}
                      <img src="/static/img/ui/nhu.png" title="Nhu" alt="Nhu" />
                      {elseif $kinhMach->type == '4'}
                      <img src="/static/img/ui/thai-cuc.png" title="Thái Cực" alt="Thái Cực" />
                      {/if}
                    </div>
                </div>  
            </div>

            <div class="inner-detail-info">
                {ifset $chiSo["baoKichNgoai"]}
                Ngoại công bạo kích: +{$chiSo["baoKichNgoai"]}<br>
                {/ifset}
                {ifset $chiSo["chinhXac"]}
                Chính Xác Ngoại Công: +{$chiSo["chinhXac"]}<br>
                {/ifset}
                {ifset $chiSo["phongKinh"]}
                Phong Kình: +{$chiSo["phongKinh"]}<br>
                {/ifset}
                {ifset $chiSo["thePhach"]}
                Thể Phách: +{$chiSo["thePhach"]}<br>
                {/ifset}
                {ifset $chiSo["hoiKhiHuyet"]}
                Hồi khí huyết: +{$chiSo["hoiKhiHuyet"]}<br>
                {/ifset}
                {ifset $chiSo["cuongPhong"]}
                Cương phòng: +{$chiSo["cuongPhong"]}<br>
                {/ifset}
                {ifset $chiSo["nhuPhong"]}
                Nhu phòng: +{$chiSo["nhuPhong"]}<br>
                {/ifset}
                {ifset $chiSo["baoKichNoi"]}
                Nội công bạo kích: +{$chiSo["baoKichNoi"]}<br>
                {/ifset}
                {ifset $chiSo["chinhXacNoi"]}
                Chính Xác Nội Công: +{$chiSo["chinhXacNoi"]}<br>
                {/ifset}
                {ifset $chiSo["lucTay"]}
                Lực tay: +{$chiSo["lucTay"]}<br>
                {/ifset}
                {ifset $chiSo["neTranh"]}
                Né Tránh: +{$chiSo["neTranh"]}<br>
                {/ifset}
                {ifset $chiSo["thanPhap"]}
                Thân Pháp: +{$chiSo["thanPhap"]}<br>
                {/ifset}
                {ifset $chiSo["noiPhong"]}
                Nội Phòng: +{$chiSo["noiPhong"]}<br>
                {/ifset}
                {ifset $chiSo["duongPhong"]}
                Dương phòng: +{$chiSo["duongPhong"]}<br>
                {/ifset}
                {ifset $chiSo["boQuaNoiPhong"]}
                Bỏ qua Nội Phòng: +{$chiSo["boQuaNoiPhong"]}<br>
                {/ifset}
                {ifset $chiSo["amPhong"]}
                Âm phòng: +{$chiSo["amPhong"]}<br>
                {/ifset}
                {ifset $chiSo["noiTuc"]}
                Nội tức: +{$chiSo["noiTuc"]}<br>
                {/ifset}
                {ifset $chiSo["canhKhi"]}
                Canh khí: +{$chiSo["canhKhi"]}<br>
                {/ifset}
                {ifset $chiSo["khiHuyet"]}
                Khí Huyết: +{$chiSo["khiHuyet"]}<br>
                {/ifset}
                {ifset $chiSo["noiLuc"]}
                Nội Lực: +{$chiSo["noiLuc"]}<br>
                {/ifset}
                {ifset $chiSo["boQuaNoiGiai"]}
                Bỏ qua Nội Công Hóa Giải: +{$chiSo["boQuaNoiGiai"]}<br>
                {/ifset}
                {ifset $chiSo["noiGiai"]}
                Nội công hóa giải: +{$chiSo["noiGiai"]}<br>
                {/ifset}
                {ifset $chiSo["satThuongBaoKichNoi"]}
                Sát thương Nội công bạo kích: +{$chiSo["satThuongBaoKichNoi"]}<br>
                {/ifset}
                {ifset $chiSo["satThuongBaoKichNgoai"]}
                Sát thương Ngoại công bạo kích: +{$chiSo["satThuongBaoKichNgoai"]}<br>
                {/ifset}
                {ifset $chiSo["noiLucCooldown"]}
                Rút ngắn thời gian hồi Nội lực(%): +{$chiSo["noiLucCooldown"]}<br>
                {/ifset}
                {ifset $chiSo["mgstBaoKich"]}
                Giảm sát thương bạo kích(%): +{$chiSo["mgstBaoKich"]}<br>
                {/ifset}
                {ifset $chiSo["khiHuyetCooldown"]}
                Rút ngắn thời gian hồi Khí huyết(%): +{$chiSo["khiHuyetCooldown"]}<br>
                {/ifset}
                
                {if $detail->level == $kinhMach->maxLevel}
                {$kinhMach["chiSoThem"]}
                {/if}
                <div class="school-name">[Tiến cử {$schoolName} Chủ tu]</div>
            </div>
        </div>
    </div>
</div>
{/block}

{block post-body}
<script src="/static/js/noi-cong-common.js"></script>
{/block}