{layout 'layout.html'}

{block title}Cửu Âm Chân Kinh Đại Điển{/block}

{block head}
<meta name="description"
    content="Cửu Âm Chân Kinh Đại Từ Điển - Thông tin nội công, kinh mạch, võ học game Cửu Âm Chân Kinh">
<meta content="cửu âm đại điển, cadd, cửu âm chân kinh, cửu âm, cack, nội công, kinh mạch, võ học" name="keywords">
<meta property="og:title" content="Cửu Âm Đại Điển">
<meta property="og:description"
    content="Cửu Âm Chân Kinh Đại Từ Điển - Thông tin nội công, kinh mạch, võ học game Cửu Âm Chân Kinh">
<meta property="og:url" content="https://cuuamdaidien.com">
<link rel="stylesheet" href="/static/css/home.css">
{/block}

{block body}
<h1>Cửu Âm Đại Điển</h1>

<div class="content-list">
    <div class="item noi-cong">
        <div>
            <a href="/noi-cong/thien-dinh-cong/1">
                <div class="noi-cong-btn"></div>
            </a>
        </div>
        <div class="text-content">
            <a href="/noi-cong/thien-dinh-cong/1">Nội Công</a>
        </div>
    </div>
    <div class="item kinh-mach">
        <div>
            <a href="/kinh-mach/thu-thai-am-phe/1">
                <div class="kinh-mach-btn"></div>
            </a>
        </div>
        <div class="text-content">
            <a href="/kinh-mach/thu-thai-am-phe/1">Kinh Mạch</a>
        </div>
    </div>
</div>

<div class="release-note">
    Release note:<br>
    2022/09/02: Thêm kinh mạch cơ bản các phái.<br>
    2022/07/20: Thêm nội công Tinh Miễu Các.<br>
    2022/04/03: Thêm nội công Phục Dưỡng Khí Công(Vạn thú sơn trang), Tạo Hóa Công. Thêm thực lực nội công.<br>
    2021/12/10: Thêm nội công giang hồ Tâm Trai Bí Triện, tự động cuộn tới vị trí nội công trong danh sách<br>
    2021/12/4: Thông tin Nội công (theo phiên bản Cửu Âm VN hiện hành)<br>
</div>
{/block}