<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{block title}{/block}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/static/css/common.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7X3R39YR6Z"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){ dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-7X3R39YR6Z');
    </script>
    {block head}{/block}
</head>
<body>
    {block body-header}{/block}
    <div class="body-container">
    {block body}{/block}
    </div>
    <br>
    <div class="footer-credit">
        Auto Cửu Âm Chân Kinh - ZDN<br>
        Discord: <a href="https://discord.gg/SQpfeJBbgp">https://discord.gg/SQpfeJBbgp</a><br>
        Fanpage: <a href="https://www.facebook.com/zdnaow">https://www.facebook.com/zdnaow</a><br>
    </div>
    {block post-body}{/block}
</body>
</html>